<div class="container">
  <div class="row" [ngStyle]="{'margin-bottom':'30px'}">
    <div class="col-2" >{{inPerson.id}}</div>
    <div class="col-2" >{{inPerson.firstname}}</div>
    <div class="col-2" >{{inPerson.lastname}}</div>
    <div class="col-2"><button type="button" name="button" class="btn btn-primary" (click)="onDeletePerson()">Удалить</button></div>
    <div class="col-2"><button type="button" name="button" class="btn btn-primary"  (click)="Edit()">Редактировать</button></div>
  </div>

  <div *ngIf="nowEdit" [ngStyle]="{'margin-bottom':'30px'}">
    <div class="row">
      <div class="col-4">
        <input type="text" class="form-control" placeholder="Имя" value="{{inPerson.firstname}}" #inputFirstname>
      </div>
      <div class="col-4">
  
        <input type="text" class="form-control" placeholder="фамилия" value="{{inPerson.lastname}}" #inputLastname>
      </div>
      <div class="col-4">
        <button class="btn btn-primary"
          (click)="onEditPerson(inputFirstname.value, inputLastname.value)">Сохранить</button>
      </div>
    </div>
  </div>
</div>



