<div class="container">
  <h2>Добавить нового пользователя</h2>
  <div class="row">
    <div class="col-12">
      <input type="text" name="" value="" class="form-control" placeholder="Имя" #inputFirstname>
    </div>
    <div class="col-12 mt-2">
      <input type="text" name="" value="" class="form-control" placeholder="Фамилия" #inputLastname>
    </div>
    <div class="col-12 mt-2">
      <button type="button" name="button" class="btn btn-primary" (click)="onAddPerson(inputFirstname.value, inputLastname.value)">Сохранить</button>
    </div>
  </div>
</div>
